$white: #fff;
$gray: #d4d4d4;
$gray-dark: #666;
$orange: #db7851;


body {
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin: auto;
  // font-family: 'Libre Baskerville', serif;
  font-family: 'Libre Franklin', sans-serif;  

  /* background: black; */
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: .25rem;

  small {
    font-weight: 400;
    margin-left: 5px;
  }
}

a, a:visited {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.header-text {
  padding-top: 5px;
  text-align: center; 
}

.beta-tag {
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: $orange;
  padding: 5px;
  vertical-align: middle;
}
