#pub-list h2 {
    font-size: 1.17em;
}

.publication {
  margin: 15px auto;
  padding: 15px;

  border: 1px solid #eee;
  border-bottom: none;  
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  border-radius: 2px;

  h3 {
    font-size: 1.5em;
    margin: 0;
  }

  .university {
    color: $gray-dark;
    font-size: 14px;
  }

  .pub-header, .pub-body {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) { 
      flex-direction: column;

      & > *:nth-child(2) {
        margin-top: 10px;
      }
    }
  }

  .masthead-link a {
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
  }

  .social-links {
    svg {
      fill: $gray;
    }

    svg:hover {
      fill: $gray-dark;
    }
  }

  .pub-links {
    margin-top: auto;

    a:not(:last-child) {
      padding-right: 10px
    }
  }

  table {
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 10px;
  }
  
  td:first-child {
    // text-align: end;
    color: $gray-dark;
  }

  td:last-child {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .tooltip {
    left: 0 !important;
    top: auto !important;
    bottom: 0;
    width: 100%;
  }

  #pub-list {
    margin: 0 5px;
  }
}
